.staticrypt-body {
    background:#5e8be2 !important;
}

.staticrypt-form .staticrypt-decrypt-button {
    background: #5e8be2 !important;
}

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {
    background: #5e8be2 !important;
    opacity: 0.8;
}